# Machine Learning Approaches to Ethical Analysis of Statistics (ICS5110)

## Neural Network Model

In [7]:
import os
import numpy as np
import pandas as pd
from datetime import datetime

import matplotlib.pyplot as plt

# Constants here
START_DATE = datetime(2008, 1, 1)
END_DATE = datetime(2022, 12, 31)
DATA_PATH = "./data"

train_df = pd.read_csv(f"{DATA_PATH}/train_data.csv", index_col=0, parse_dates=True)
test_df = pd.read_csv(f"{DATA_PATH}/test_data.csv", index_col=0, parse_dates=True)
validate_df = pd.read_csv(
    f"{DATA_PATH}/validate_data.csv", index_col=0, parse_dates=True
)

train_df.head(5)

,Max_Demand_GW,Plant_Production_GWh,Imports_GWh,Renewables_Production_GWh,powerplants_c02_kt,GDP_bln,Population_k,tmin,tavg,tmax
Date,,,,,,,,,,
2008-01-01,0.36,191.50,0.0,0.0,170.39,6.210000,409.379000,12.1,14.5,16.9
2008-02-01,0.37,183.60,0.0,0.0,163.36,6.214167,409.379000,10.5,13.3,16.1
2008-03-01,0.34,178.96,0.0,0.0,159.23,6.218333,409.637167,12.1,14.9,17.7
2008-04-01,0.32,172.61,0.0,0.0,153.58,6.222500,409.895333,13.9,17.4,20.9
2008-05-01,0.32,179.50,0.0,0.0,159.71,6.226667,410.153500,16.8,20.2,23.7